.icon {
  width: 5em;
}

body {
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(to bottom right, white, skyblue, white);
}

header {
  text-align: center;
  background-color: rgb(14, 14, 177);
  padding: 2em;
  color: white;
  box-shadow: 0 0 15px black;
}

#current-weather {
  box-shadow: 0 0 8px #6c757d;
  border-radius: 5px;
  margin-bottom: 2%;
}

.current-weather-body {
  padding: 3%;
}

.content {
  margin-top: 2%;
}

.cities {
  background-color: white;
  box-shadow: 0 0 8px #6c757d;
  padding: 7%;
  border-radius: 5px;
  margin-bottom: 3%;
}

#city-search {
  box-shadow: 0 0 4px #6c757d;
}

.btn.btn-primary {
  background-color: rgb(14, 14, 177);
}

.btn.btn-primary:hover {
  background-color: rgb(33, 33, 223);
}

.btn.btn-outline-primary {
  color: rgb(14, 14, 177);
  border-color: rgb(14, 14, 177);
}

.btn.btn-outline-primary:hover {
  color: white;
  background-color: rgb(33, 33, 223);
}

#city-list {
  margin-top: 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.c {
  text-transform: capitalize;
  margin-top: 2%;
  margin-left: 1%;
  margin-right: 1%;
}

#uv {
  display: flex;
  justify-content: flex-start;
}

.uv-value {
  margin-left: 5px;
}

#forecast {
  display: flex;
  justify-content: center;
}

.weather-card {
  padding: 1%;
  margin-top: 2%;
  margin-left: 2%;
  box-shadow: 0 0 11px #6c757d;
  color: white;
  background-color: rgb(33, 33, 223);
}
